.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section__title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;

  text-align: center;

  color: #2e2520;

  @include tablet {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21;
  }
}
.section__subtitle {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #2e2520;

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 145px;
  height: 40px;
  background: #f3848c;
  border-radius: 25px;
  border: transparent;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #ffffff;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  &:hover,
  &:focus {
    color: #f3848c;
    background: #ffffff;
    border: 1px solid #f3848c;
  }
  &:active {
    color: #ffffff;
    background: #f3848c;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
  transition: color $time-hover $time-function,
    background-color $time-hover $time-function,
    border-color $time-hover $time-function;
}
