<section class="section about">
  
  <picture class="section__picture">
    <source
      srcset="
        ./images/About-us-desktopX1-min.jpg 1x,
        ./images/About-us-desktopX2-min.jpg 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/About-us-tabletX1-min.jpg 1x,
        ./images/About-us-tabletX2-min.jpg 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/About-us-mobileX1-min.jpg 1x,
        ./images/About-us-mobileX2-min.jpg 2x
      "
      media="(max-width: 767px)"
    />
    <img
      src="./images/About-us-desktopX1-min.jpg"
      alt="donuts cooking process"
      width="100%"
    />
  </picture>
  
  <div class="section__content">
    <h2 class="section__title">About us</h2>
    <p>
      Oh My Donut is the shop which adores tasty deserts and spend hours to create
      sophisticated donuts which will save the world!
    </p>
    <p>
      Eva has been baking since she was six years old and over the last 49 years,
      she has created hundreds of cakes for weddings and has baked for many
      celebrities. Eva and our shop have received multiple awards & recognition
      for excellence.
    </p>
    <p>
      We are going to teach you how to cook with passion and sparkles in your
      eyes! We love what we do and believe you will enjoy our cooking atmosphere!
    </p>
  </div>
  
</section>
