<section class="section">
  <div class="container container-contact">
    <h2 class="section__title">Contact</h2>
    <form class="contact__form">
      <p class="contact__subtitle">We will answer any question!</p>
      <input class="contact__input" type="email" placeholder="Email" required />
      <input
        class="contact__input"
        type="text"
        placeholder="Type your question"
        required
      />
      <button type="submit" class="contact__btn btn">Send</button>
    </form>
    <ul class="contact-social__link">
      <li>
        <a target="_blank" rel="noopener noreferrer nofollow" href="#">
          <svg class="social-link__icon" width="16" height="12.67">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer nofollow" href="">
          <svg class="social-link__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-inst"></use>
          </svg>
        </a>
      </li>
      <li> 
        <a  target="_blank" rel="noopener noreferrer nofollow" href="#">
          <svg class="social-link__icon" width="8.65" height="16">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
