<section class="section price" id="price">
  <div class="container">
    <h2 class="price-title section__title">Price</h2>
    <ul class="price-box__list">
      <li class="price-box__item">
        <div class="price-content">
          <h3 class="price-subtitle section__subtitle">Easy start</h3>
          <ul class="price-list">
            <li class="price-item">features of yeast dough preparation</li>
            <li class="price-item">
              preparation of liquid caramel for stuffing
            </li>
            <li class="price-item">
              preparation of raspberry and strawberry filling
            </li>
            <li class="price-item">fry and glaze donuts</li>
          </ul>
        </div>
        <button class="price-btn btn">Register</button>
      </li>

      <li class="price-box__item">
        <div class="price-content">
          <h3 class="price-subtitle section__subtitle">
            I want delicious donuts
          </h3>
          <ul class="price-list">
            <li class="price-item">features of yeast dough preparation</li>
            <li class="price-item">
              preparation of liquid caramel for stuffing
            </li>
            <li class="price-item">melt chocolate for decoration</li>
            <li class="price-item">
              preparation of raspberry and strawberry filling
            </li>
            <li class="price-item">fry and glaze donuts</li>
            <li class="price-item">
              donut decoration. painting and various techniques
            </li>
          </ul>
        </div>
        <button class="price-btn btn">Register</button>
      </li>

      <li class="price-box__item">
        <div class="price-content">
          <h3 class="price-subtitle section__subtitle">Premium</h3>
          <ul class="price-list">
            <li class="price-item">features of yeast dough preparation</li>
            <li class="price-item">
              preparation of liquid caramel for stuffing
            </li>
            <li class="price-item">melt chocolate for decoration</li>
            <li class="price-item">
              preparation of raspberry and strawberry filling
            </li>
            <li class="price-item">fry and glaze donuts</li>
            <li class="price-item">
              donut decoration. painting and various techniques
            </li>
            <li class="price-item">
              After party and donut tasting with speakers
            </li>
            <li class="price-item">
              2 private lessons with one of the speakers
            </li>
          </ul>
        </div>
        <button class="price-btn btn">Register</button>
      </li>
    </ul>
  </div>
</section>
