<section class='program-section section' id='program'>
  <div class='container'>
    <div class='program-content-wrap'>
      <h2 class='program-section-title section__title'>Program</h2>
      <div class='read-more-container'>
        <p class='program-section-text program-section-text-top'>Indulge in this immersive sweet treat experience with
          The Chef Donut Queen in
          her
          New York donut shop!</p>
        <ul class='program-list list program-section-text'>
          <li class='program-list-item'>A stand up history of donuts</li>
          <li class='program-list-item'>Make 3 donut flavors of your choice</li>
          <li class='program-list-item'>Enjoy all-you-can-eat donuts</li>
          <li class='program-list-item'>Cocktail pairings and coffee included</li>
          <li class='program-list-item'>Photoshoot by professional photographer</li>
          <li class='program-list-item'>Secret receipt of cooking from Eva</li>
          <li class='program-list-item'>All products are included in the price</li>
        </ul>
        <p class='program-section-text read-more-text program-section-text-bottom'>
          Come with your dear people and friends and you will spend an unforgettable
          time and will become a real professional in donuts cooking!
        </p>
        <button class='read-more-btn' type='button'>Read more</button>
      </div>
    </div>
    <div class='gallery-wrap'>
      <ul class='program-gallery-list list'>
        <li class='program-gallery-list-item'>
          <div class='card-wrap'>
            <picture>
              <source srcset='
                ./images/program/type-of-ivent-desk.png 1x,
                ./images/program/type-of-ivent-desk@2x.png 2x
                '
                      media='(min-width:1200px)'>
              <source srcset='
                ./images/program/type-of-ivent-tab.png 1x,
                ./images/program/type-of-ivent-tab@2x.png 2x
                 '
                      media='(min-width:768px)'>
              <source srcset='
               ./images/program/type-of-ivent-mob.png 1x,
                ./images/program/type-of-ivent-mob@2x.png 2x
                '
                      media='(max-width:767px)'>

              <img class='program-card card' src='./images/program/type-of-ivent-desk.png'
                   alt='Woman decorates a donats'
              />
            </picture>
            <div class='program-card-content-wrap'>
              <h3 class='program-card-title'>Type of the event</h3>
              <p class='program-card-text'>Cooking classes</p>
            </div>
          </div>
        </li>
        <li class='program-gallery-list-item'>
          <div class='card-wrap'>
            <picture class='program-gallery-picture'>
              <source srcset='
                ./images/program/number-of-guests-desk.png 1x,
                ./images/program/number-of-guests-desk@2x.png 2x
                '
                      media='(min-width:1200px)'>
              <source srcset='
                ./images/program/number-of-guests-tab.png 1x,
                ./images/program/number-of-guests-tab@2x.png 2x
                 '
                      media='(min-width:768px)'>
              <source srcset='
               ./images/program/number-of-guests-mob.png 1x,
                ./images/program/number-of-guests-mob@2x.png 2x
                '
                      media='(max-width:767px)'>

              <img class='program-card card' src='./images/program/number-of-guests-desk.png'
                   alt='Two women are sitting at a table' />
            </picture>
            <div class='program-card-content-wrap'>
              <h3 class='program-card-title'>Time of the event</h3>
              <p class='program-card-text'>18:30 (2.5 hours)</p>
            </div>
          </div>

        </li>
        <li class='program-gallery-list-item'>
          <div class='card-wrap'>
            <picture class='program-gallery-picture'>
              <source srcset='
                ./images/program/time-of-the-ivent-desk.png 1x,
                ./images/program/time-of-the-ivent-desk@2x.png 2x
                '
                      media='(min-width:1200px)'>
              <source srcset='
                ./images/program/time-of-the-ivent-tab.png 1x,
                ./images/program/time-of-the-ivent-tab@2x.png 2x
                 '
                      media='(min-width:768px)'>
              <source srcset='
               ./images/program/time-of-the-ivent-mob.png 1x,
                ./images/program/time-of-the-ivent-mob@2x.png 2x
                '
                      media='(max-width:767px)'>

              <img class='program-card card' src='./images/program/time-of-the-ivent-desk.png'
                   alt='Worried cook is holding a watch' />
            </picture>
            <div class='program-card-content-wrap'>
              <h3 class='program-card-title'>Number of guests</h3>
              <p class='program-card-text'>1 to 20</p>
            </div>
          </div>

        </li>
        <li class='program-gallery-list-item'>
          <div class='card-wrap'>
            <picture class='program-gallery-picture'>
              <source srcset='
                ./images/program/the-host-speacks-desk.png 1x,
                ./images/program/the-host-speacks-desk@2x.png 2x
                '
                      media='(min-width:1200px)'>
              <source srcset='
                ./images/program/the-host-speacks-tab.png 1x,
                ./images/program/the-host-speacks-tab@2x.png 2x
                 '
                      media='(min-width:768px)'>
              <source srcset='
               ./images/program/the-host-speacks-mob.png 1x,
                ./images/program/the-host-speacks-mob@2x.png 2x
                '
                      media='(max-width:767px)'>

              <img class='program-card card' src='./images/program/the-host-speacks-desk.png'
                   alt='Woman telling to others'
                   alt='Worried cook is holding a watch' />
            </picture>
            <div class='program-card-content-wrap'>
              <h3 class='program-card-title'>The host speaks</h3>
              <p class='program-card-text'>English, French</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>