<section class="registration section">
  <div class="container registration__container">
    <h2 class="section__title registration-title">Registration</h2>
    <div class="registration-content">
      <div class="registration-info">
        <p class="registration-time">May 23, 11:00</p>
        <p class="registration-place">New York</p>
      </div>
      <div class="registration-field">
        <p class="registration-text">
          Apply your personal info for registration
        </p>
        <form class="registration-form">
          <div class="wrapper_reg">
            <input
              class="registration-input"
              type="text"
              name="user-name"
              placeholder="Your name"
              minlength="2"
              required
            />
            <input
              class="registration-input"
              type="text"
              name="user-phone"
              placeholder="Phone number"
              minlength="2"
              required
            />

            <input
              class="registration-input"
              type="email"
              name="user-email"
              placeholder="Email"
              minlength="2"
              required
            />
          </div>

          <button type="submit" class="registration-btn btn">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
