<div class="container">
  <ul class="sreakers__list">
    <li class="speakers__item">
      <div class="card">
        <img src="" alt="speaker" />
        <p>Molly Rivera</p>
        <p>Pastry chef, master chocolatier of Spain,</p>
      </div>
    </li>

    <li>
      <div class="card">
        <img src="" alt="speaker" />
        <p>Sophia Clark</p>
        <p>Сulinary school pastry chef</p>
      </div>
    </li>

    <li>
      <div class="card">
        <img src="" alt="speaker" />
        <p>Isabella Taylor</p>
        <p>Сonsultant in the art of confectionery</p>
      </div>
    </li>

    <li>
      <div class="card">
        <img src="" alt="speaker" />
        <p>Evelyn Miller</p>
        <p>Master- chocolatier in Spain</p>
      </div>
    </li>

  </ul>

</div>
