<section class="section speakers" id="speakers">
  <div class="container">

    <ul class="speakers__list">
      <li class="speakers__item">
        <div class="speakers__card">
            <picture>
                <source
                  srcset="
                  ./images/speakers/speaker2.png,
                  ./images/speakers/speaker2_2x.png
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker2.png,
                  ./images/speakers/speaker2_2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker2.png,
                  ./images/speakers/speaker2_2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/speakers/speaker2.png"
                  alt="speaker"
                  class="speaker"
                  width="288"
                  height="305"
                />
              </picture>

          <p class="speakers__name">Molly Rivera</p>
          <p class="speakers__description">
            Pastry chef, master <br>  chocolatier of Spain
          </p>
        </div>
      </li>

      <li class="speakers__item">
        <div class="speakers__card">
            <picture>
                <source
                  srcset="
                  ./images/speakers/speaker4.png,
                  ./images/speakers/speaker4_2x.png
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker4.png,
                  ./images/speakers/speaker4_2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker4.png,
                  ./images/speakers/speaker4_2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/speakers/speaker4.png"
                  alt="speaker"
                  class="speaker"
                  width="288"
                  height="305"
                />
              </picture>
          <p class="speakers__name">Sophia Clark</p>
          <p class="speakers__description">
            Сulinary school pastry <br> chef</p>
        </div>
      </li>


      <li class="speakers__item">
        <div class="speakers__card">
            <picture>
                <source
                  srcset="
                  ./images/speakers/speaker3.png,
                  ./images/speakers/speaker3_2x.png
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker3.png,
                  ./images/speakers/speaker3_2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker3.png,
                  ./images/speakers/speaker3_2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/speakers/speaker3.png"
                  alt="speaker"
                  class="speaker"
                  width="288"
                  height="305"
                />
              </picture>
          <p class="speakers__name">Isabella Taylor</p>
          <p class="speakers__description">
            Сonsultant in the art of confectionery
          </p>
        </div>
      </li>

      <li class="speakers__item">
        <div class="speakers__card">

            <picture>
                <source
                  srcset="
                  ./images/speakers/speaker1.png,
                  ./images/speakers/speaker1_2x.png
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker1.png,
                  ./images/speakers/speaker1_2x.png
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/speakers/speaker1.png,
                  ./images/speakers/speaker1_2x.png
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/speakers/speaker1.png"
                  alt="speaker"
                  class="speaker"
                  width="288"
                  height="305"
                />
              </picture>
          <p class="speakers__name">Evelyn Miller</p>
          <p class="speakers__description">
            Master - chocolatier <br> in Spain</p>
        </div>
      </li>
    </ul>
    </div>
</section>
