.about {
  // padding-left: 20px;
  // padding-right: 20px;
  display: flex;
    flex-wrap: wrap;

    background-image: url(../images/about-us-circle-mobile.svg);
    background-repeat: no-repeat;
  // @include tablet {
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }
  &__title {
    margin-top: 28px;
    margin-bottom: 8px;
    text-align: center;
    @include tablet {
      margin-top: 0;
      text-align: left;
    }
  }
  &__picture {
    width: 100%;
    @include tablet {
      width: 50%;
    }
  }
  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    @include desktop {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22;
    }
  }
  &__content {
    flex: 1;
    p:not(:first-child) {
      padding-top: 1em;
    }
    @include tablet {
      padding-left: 31px;
    }
  }
  img {
    border-radius: 24px;
  }

  // &.about {
    
  // }
}
.view {
  border: none;
  background-color: transparent;
  padding-top: 1em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

#about_us {
  .text__more {
    padding-top: 1em;
  }
  @include mobile {
    .view__more {
      display: block;
    }
  }

  @include tablet {
    .view__more {
      display: block;
    }
  }
  @include desktop {
    .text__more {
      display: block;
    }
    .view__more {
      display: none;
    }
    .view__less {
      display: none;
    }
  }
}
.hidden {
  display: none;
}
