.btn {
  width: 145px;
  height: 40px;
  background: #f3848c;
  border-radius: 25px;
  border: transparent;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #ffffff;
}
