.program-section {
  background-image: url("../images/program/decor-mob.svg");
  background-repeat: no-repeat;
  background-position: top 10px center;
  @media screen and (max-width: 479px) {
    background-size: 100vw;
  }
  @include tablet {
    background-image: url("../images/program/decor-tab.svg");
    background-repeat: no-repeat;
    background-size: 768px;
  }
  @include desktop {
    background-image: url("../images/program/decor-desk.svg");
    background-repeat: no-repeat;
    background-size: 1200px;
  }

  &-title {
    max-width: 110px;
    justify-content: center;
    margin: 0 auto;
    @include tablet {
      justify-content: left;
    }
  }

  &-text {
    margin-top: 8px;
    font-family: 'Montserrat';
    @include font(16, 1.25, 400, null) ;
    color: #3C322D;
    @include tablet {
      margin-top: 28px;
    }
    @include desktop {
      margin-top: 24px;
      @include font(18, 1.22, 400, null);
    }
  }
}

.program-content-wrap {
  @include tablet{
    display: flex;
  }
}
//.program-list {
//  max-width: 280px;
//}

.program-list-item {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  @include tablet {
    gap:12px;
  }

  &::before {
    content: "";
    background-image: url("../images/program/icon-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    min-height: 24px;
  }
}

.read-more-btn {
  font-family: 'Montserrat';
  @include font(16, 1.25, 500, null) ;
  font-style: normal;
  text-align: center;
  color: #3C322D;
  border: none;
  background-color: transparent;
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  @include tablet {
    @include font(18, 1.22, 500, null);
    margin-top: 28px;
    margin-bottom: 0;
  }
  @include desktop {
    display: none;
  }
}

.read-more-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  @include tablet {
    max-width: 329px;
  }
  @include desktop {
    max-width: 416px;
  }
}

.read-more-text {
  display: none;
  @include desktop {
    display: flex;
  }
}

.read-more-text--show {
  display: inline;
}

.program-gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 20px;
  @include tablet{
    row-gap: 40px;
    column-gap: 32px;
  }
  @include desktop {
    row-gap: 36px;
    column-gap: 138px;
  }
}

.program-gallery-list-item {
  position: relative;
  @include tablet {
    flex-basis: calc((50% - 32px) / 2);
}

.program-card-title {
  font-family: 'Montserrat Alternates';
  text-align: center;
  @include font(14, 1.21, 500, null);
  color: #FFFFFF;
  position: absolute;
  }
}
.program-card-text {
  font-family: 'Montserrat';
  @include font(12, 1.25, 400, null);
  text-align: center;
  color: #FFFFFF;
}

