.program-section {
  background-image: url("../images/program/decor-mob.svg");
  background-repeat: no-repeat;
  background-position: bottom 0 center;
  @media screen and (max-width: 479px) {
    background-size: 100vw;
  }
  @include tablet {
    background-image: url("../images/program/decor-tab.svg");
    background-repeat: no-repeat;
    background-size: 768px;
  }
  @include desktop {
    background-image: url("../images/program/decor-desk.svg");
    background-repeat: no-repeat;
    background-size: 1200px;
  }

  &-title {
    max-width: 110px;
    justify-content: center;
    margin: 0 auto;
    @include tablet {
      justify-content: left;
    }
  }

  &-text {
    margin-top: 8px;
    font-family: 'Montserrat';
    @include font(16, 1.25, 400, null) ;
    color: #3C322D;
    @include tablet {
      margin-top: 28px;
    }
    @include desktop {
      margin-top: 24px;
    }
  }
}

//.program-list {
//  max-width: 280px;
//}

.program-list-item {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: "";
    background-image: url("../images/program/icon-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    min-height: 24px;
  }
}

.text-btn {
  font-family: 'Montserrat';
  @include font(16, 1.25, 500, null) ;
  font-style: normal;
  text-align: center;
  color: #3C322D;
  border: none;
  background-color: transparent;
  margin-top: 16px;
}

.program-gallery-list {
  flex-wrap: wrap;
}