.registration {
  background-image: url('../images/registration/bgregmob.png');
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: top right 10px;
}

.registration-title {
  margin-bottom: 27px;
}
.registration-content {
  border-radius: 10px;
  padding: 40px 8px 32px 8px;
  background-image: linear-gradient(
      rgba(61, 44, 44, 0.6),
      rgba(61, 44, 44, 0.6)
    ),
    url('../images/registration/registrationmob.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
}
.registration-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #ffffff;

  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  @include tablet {
    color: #3c322d;
  }
}

.registration-text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: #ffffff;
  padding-top: 20px;
}
.registration-form {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.registration-input {
  width: 100%;
  color: #ffffff;

  background-color: transparent;

  border: transparent;
  border-bottom: 1px solid #ffffff;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: #ffffff;
  }

  &:not(:placeholder-shown):not(:focus):valid {
    background-color: rgba(109, 202, 109, 0.418);
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    background-color: rgba(228, 99, 99, 0.418);
  }
}

.registration-btn {
  //   margin: 0 auto;
  margin-top: 32px;
}
