.title-speakers{
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(29.26 / 24);
    text-align: center;

    @include tablet {
        font-size: 32px;
        line-height: calc(39/32);
       }
       
   @include desktop {
    font-size: 32px;
    line-height: calc(39/32);
    }
}


.speakers__card{
width: 130px;
margin-bottom: 21px;

@include tablet {
    width: 152px;
    margin-top: 20px;
   }
   
   @include desktop {
  width: 288px;
  }
}


.speakers__list{
gap: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;

@include tablet {
   gap: 32px;
  }

  @include desktop {
    width: 1248px;
    gap: 32px;
    }

}

.speakers__name{
font-weight: 600;
line-height: calc(19.5 / 16);
margin-bottom: 12px;
margin-top: 12px;
align-items: center;
text-align: center;

@include tablet {
    font-size: 18px;
    line-height: calc(21.94/18);
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  @include desktop {
    font-size: 18px;
    line-height: calc(21.94/18);
    }
  
}


.speakers__description{
font-size: 12px;
font-weight: 500;
line-height: calc(14.63/12);
text-align: center;

@include tablet {
    font-size: 14px;
    line-height: calc(17.07/14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(19.5/16);
  }

}


.speakers_img{
    width: 130px;
    height: 145px;

    @include tablet {
        width: 152px;
        height: 160px;
      }

      @include desktop {
        width: 288px;
        height: 305px;
      }
}